<div class="tela3-container container">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Cadastro Concluido!</h4>
    <hr>
    <p >1. Qual o seu comportamento em relação aos seus investimentos ?</p>
    <p>-{{message.pergunta1}}.</p>
    <hr>
    <p >2. Por quanto tempo você deseja manter o s seus investimentos ?</p>
    <p>-{{message.pergunta2}}.</p>
    <hr>
    <p>3. Quantos % desses investimentos você pode precisar em um ano ?</p>
    <p>-{{message.pergunta3}}.</p>
    <hr>
    <p>4. Qual sua familiaridade com os tipos de investimentos abaixo ?<br>
    Leve em consideração o valor aplicado nos últimos 2 anos.</p>
      <p>Titulos de renda fixa ou tesouro direto :</p>
      <p>-{{message.select1}}.</p>
      <p>Fundos de investimento :</p>
      <p>-{{message.select2}}.</p>
      <p>Ações a vista :</p>
      <p>-{{message.select3}}.</p>
      <p>Aluguel de ações, termos, opções e futuros :</p>
      <p>-{{message.select4}}.</p>


    <hr>
    <p class="mb-0">Obrigado por preencher seus dados.</p>
  </div>
</div>
