<nav class="home-header navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" routerLink="">
    <h2>Teste Angular</h2>
  </a>
  <div class="">
    <ul class="d-flex flex-row m-auto">
      <li class="nav-item active">
        <a class="nav-link pl-0 mr-5" routerLink="">
          <span >home</span>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link pl-0 mr-5" routerLink="/tela3">
          <span >Questionário</span>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link pl-0 mr-5" routerLink="/tela4">
          <span >Sucesso</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
<div class="fake-header"></div>
